h1{
    
    color: brown;
}

#intro{
 text-align: center;
 
 border: 3px solid rgb(24, 1, 1);


}
#intro:hover{
    background-color: lightgrey;
}

#p2{
    color : blue;
}
#nav{
    text-align: center;
     background-color: crimson;
     height: 25px;
     padding-top: 5px;
     margin-bottom: 5px;
}
#nav a{
  margin: 0px 5px; 
  /* margin: y-axis x-axis; */
  text-decoration: none;
  color: white;
}